* {
    box-sizing: border-box;
}
h1{
	color: #0787ea;
}



  

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) 
{
            /* Create two equal columns that floats next to each other */
        .img-column {
            float: left;
            width: 30%;
            padding-left: 30px;
        }
        .coin-desc-column {
            float: left;
            width: 70%;
            
        }

        /* Clear floats after the columns */
        .cata-head-row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Create two equal columns that floats next to each other */
        .coin-specs {
            float: left;
            width: 30%;
            padding-left: 30px;
            padding-right: 30px

        }
        .coin-desc {
            float: left;
            width: 35%;
            
        }
        .about-coin {
            float: left;
            width: 35%;
            
        }
        /* Clear floats after the columns */
        .cata-2nd-row:after {
            content: "";
            display: table;
            clear: both;
        }
}

.manage-collection-table table,.manage-collection-table th,.manage-collection-table td {
    
    border-collapse: collapse;
}
#collection-table td,#collection-table th {
    padding: 5px;
    text-align: left;   
    border: 1px solid black; 
}

#collection-table {
    width: 100%;
}

#specs-table{
	border-collapse: collapse;
	padding-top: 20px;
	border-radius: 20px;
	background-color:rgba(7, 135, 234, 0.5);
	width:100%;
}
#specs-table td{
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	padding: 20px;
	font-size: 20px;

}


.cata-2nd-row ul{
	list-style-type: none;
}

.cata-notification:before {
  content: "Note: Updating Your Collection Feature Will be Launched Soon";
}
.cata-notification{
    background-color: rgba(7,135,234,0.5);
    line-height: 200%;
    border-left:10px solid blue;
}

