
.collection-form table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.collection-form th, td {
    padding: 5px;
    text-align: left;    
}


#collection-table {
	width: 100%;
}
